[submodule "cnfa"]
    path = cnfa
    url = https://github.com/cntools/cnfa
    shallow = true
[submodule "mini-gdbstub"]
    path = mini-gdbstub
    url = https://github.com/RinHizakura/mini-gdbstub
    shallow = true
