[submodule "mini-gdbstub"]
    path = mini-gdbstub
    url = https://github.com/RinHizakura/mini-gdbstub
    shallow = true
[submodule "minislirp"]
	path = minislirp
	url = https://github.com/edubart/minislirp
    shallow = true
[submodule "portaudio"]
    path = portaudio
    url = https://github.com/PortAudio/portaudio
    shallow = true
